* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #fff;
}

/* HEADER */
header {
    background-color: #1f4e70;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 0.5rem;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* MAIN */
main {
    width: 90%;
    margin: auto;
}

h1 {
    text-align: center;
    margin: 1.5rem 0;
}

.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
}

/* CARDS */
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
}

.card h2 {
    background-color: #1f4e70;
    color: white;
    padding: 0.7rem;
    border-radius: 8px 8px 0 0;
    text-align: center;
}

/* ABOUT */
.about {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

.about img {
    width: 150px;  
    height: auto;
    border-radius: 5px;
}
.location {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    padding: 1rem;
}

.location img {
    width: 150px; 
    height: auto;
    border: 1px solid #aaa;
}
figcaption {
    text-align: center;
    font-size: 0.8rem;
}

/* FOOTER */
footer {
    background-color: #1f4e70;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}
