:root {
  --blue-dark: #0077b6;
  --blue-light: #00b4d8;
  --overlay: rgba(255, 255, 255, 0.88);
}

/* =====================
   RESET
===================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* =====================
   HEADER
===================== */
header {
  background-color: var(--blue-dark);
  color: white;
  text-align: center;
  padding: 1.2rem 1rem;
  font-size: 1.6rem;
  font-weight: bold;
  border-bottom: 8px solid var(--blue-light);
}

/* =====================
   HERO
===================== */
.hero-container {
  position: relative;
  display: grid;
  gap: 1rem;
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
}

/* =====================
   CARDS BASE
===================== */
.card {
  background-color: var(--overlay);
  padding: 1rem;
  width: 250px;
  box-shadow: 0 0 15px rgba(0,0,0,0.25);
}


.card h2 {
  background-color: var(--blue-light);
  color: white;
  padding: 0.4rem 0.75rem;   
  margin-bottom: 0.75rem;
  font-size: 1rem;          
  font-weight: bold;
}

/* TEXTO */
.card p {
  margin: 0.35rem 0;
  font-size: 0.9rem;
}

/* ICONO WEATHER */
.weather-icon {
  width: 45px;
  display: block;
  margin: 0.5rem auto;
}

/* =====================
   FOOTER
===================== */
footer {
  background-color: var(--blue-dark);
  color: white;
  text-align: center;
  padding: 1.3rem;
  font-size: 0.9rem;
}



.data,
.weather {
  margin: 1rem auto;
}

/* =====================
   LAPTOP / DESKTOP
===================== */
@media (min-width: 768px) {
  .weather-title::after {
    content: " ⛅";
}

  .hero-container {
    display: block;
  }

  /* DATA */
  .data {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }

  /* WEATHER */
  .weather {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
  }

  .weather-icon {
    display: none;
  }
}
