@media (min-width: 768px) {

  #menu-btn {
    display: none;
  }

  nav {
    display: flex;
    position: static;
    flex-direction: row;
    width: auto;
  }

  nav a {
    margin-left: 1.5rem;
  }

  /* GRID GRANDE */
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
